*{
    margin: 0;
    padding: 0;
    background-color: rgb(72, 103, 95);
}
.containerLinks {
 display: flex;
 gap: 20px;
 font-size: 41px;
margin-top: 18%;
margin-left: 10%;
margin-right: 10%;

}
    

