
 
body{
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 90vh;
       background-image: linear-gradient(to right, rgb(91, 17, 71), rgb(23, 54, 233));
}

img{
    width: 300px;
    height: 300px;
    border: none;
   
}

h1{
font-size: 50px;
margin: 18px;    
color: rgb(0, 0, 0);
  
}


button {
    width: 148px;
     height: 25px;
   color: aliceblue;
     background-color:rgb(0, 0, 0);
   border: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    
}